@using Microsoft.AspNetCore.Identity
@using Backend.WebHelpers
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    if (SignInManager.IsSignedIn(User) is false)
    {
        var loginUrl = Url.Page("/Account/Login", new { area = "Identity" });
        <script>
            window.location.href = '@loginUrl';
        </script>
    }
    @if (ViewBag.User is null || ViewBag.Team is null || ViewBag.ShopPlayers is null)
    {
        var errorUrl = Url.Action("Error", "Home");
        <script>
            window.location.href = '@errorUrl';
        </script>
    }
    var user = ViewBag.User as User;
    var team = ViewBag.Team as Team;
    var shopPlayers = ViewBag.ShopPlayers as List<Player>;
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/dash.css"/>
    <script type="text/javascript" src="~/js/dash.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Marcellus+SC" rel="stylesheet">
</head>
<body>
    <div class="containerDash">
        <div class="playerStoreArea">
            @if (shopPlayers is not null && shopPlayers.Count() is not 0)
            {
                @foreach (Player player in shopPlayers)
                {
                    <form id="playerForm-@player.Id" asp-action="PlayerDetails" asp-controller="Home" method="post">
                        @Html.Raw(Helpers.CreatePlayerCard(player, true))
                        <input type="hidden" id="matchId-@player.Id" name="id" value="@player.Id" />
                    </form>
                }
            }
            else
            {
                <div class='playerCard' data-player-id='{player.Id}' ondblclick='submitPlayerForm(this)'>
                    <div class='playerImgCol'><img src="https://i0.wp.com/seds.org/wp-content/uploads/2020/03/placeholder.png?fit=1200%2C800&ssl=1" /></div>
                    <div class='playerStatCol'>
                        <div>placeholder, placeholder</div>
                        <div>placeholder</div>
                    </div>
                    <div class='playerImgCol'>100</div>
                </div>
                <div class='playerCard' data-player-id='{player.Id}' ondblclick='submitPlayerForm(this)'>
                    <div class='playerImgCol'><img src="https://i0.wp.com/seds.org/wp-content/uploads/2020/03/placeholder.png?fit=1200%2C800&ssl=1" /></div>
                    <div class='playerStatCol'>
                        <div>placeholder, placeholder</div>
                        <div>placeholder</div>
                    </div>
                    <div class='playerImgCol'>100</div>
                </div>
                <div class='playerCard' data-player-id='{player.Id}' ondblclick='submitPlayerForm(this)'>
                    <div class='playerImgCol'><img src="https://i0.wp.com/seds.org/wp-content/uploads/2020/03/placeholder.png?fit=1200%2C800&ssl=1" /></div>
                    <div class='playerStatCol'>
                        <div>placeholder, placeholder</div>
                        <div>placeholder</div>
                    </div>
                    <div class='playerImgCol'>100</div>
                </div>
                <div class='playerCard' data-player-id='{player.Id}' ondblclick='submitPlayerForm(this)'>
                    <div class='playerImgCol'><img src="https://i0.wp.com/seds.org/wp-content/uploads/2020/03/placeholder.png?fit=1200%2C800&ssl=1" /></div>
                    <div class='playerStatCol'>
                        <div>placeholder, placeholder</div>
                        <div>placeholder</div>
                    </div>
                    <div class='playerImgCol'>100</div>
                </div>
            }
        </div>
        <div class="ownPlayersArea">
            @if (user is not null && team is not null && team.Players is not null && team.Players.Count() is not 0)
            {
                @foreach (Player player in team.Players)
                {
                    <form id="playerForm-@player.Id" class="player-card" draggable="true" ondragstart="onDragStart(event)" asp-action="PlayerDetails" asp-controller="Home" method="post">
                        @Html.Raw(Helpers.CreatePlayerCard(player, false))
                        <input type="hidden" id="playerId-@player.Id" name="id" value="@player.Id" />
                    </form>
                }
            }
            else
            {
                <div class='playerCard' data-player-id='{player.Id}' ondblclick='submitPlayerForm(this)'>
                    <div class='playerImgCol'><img src="https://i0.wp.com/seds.org/wp-content/uploads/2020/03/placeholder.png?fit=1200%2C800&ssl=1" /></div>
                    <div class='playerStatCol'>
                        <div>placeholder, placeholder</div>
                        <div>placeholder</div>
                    </div>
                    <div class='playerImgCol'>100</div>
                </div>
                <div class='playerCard' data-player-id='{player.Id}' ondblclick='submitPlayerForm(this)'>
                    <div class='playerImgCol'><img src="https://i0.wp.com/seds.org/wp-content/uploads/2020/03/placeholder.png?fit=1200%2C800&ssl=1" /></div>
                    <div class='playerStatCol'>
                        <div>placeholder, placeholder</div>
                        <div>placeholder</div>
                    </div>
                    <div class='playerImgCol'>100</div>
                </div>
                <div class='playerCard' data-player-id='{player.Id}' ondblclick='submitPlayerForm(this)'>
                    <div class='playerImgCol'><img src="https://i0.wp.com/seds.org/wp-content/uploads/2020/03/placeholder.png?fit=1200%2C800&ssl=1" /></div>
                    <div class='playerStatCol'>
                        <div>placeholder, placeholder</div>
                        <div>placeholder</div>
                    </div>
                    <div class='playerImgCol'>100</div>
                </div>
                <div class='playerCard' data-player-id='{player.Id}' ondblclick='submitPlayerForm(this)'>
                    <div class='playerImgCol'><img src="https://i0.wp.com/seds.org/wp-content/uploads/2020/03/placeholder.png?fit=1200%2C800&ssl=1"/></div>
                    <div class='playerStatCol'>
                        <div>placeholder, placeholder</div>
                        <div>placeholder</div>
                    </div>
                    <div class='playerImgCol'>100</div>
                </div>
            }
        </div>
        <div class="mainArea">
            <div class="mapArea">
                @if (team is not null && team.Players is not null && team.Players.Count() is not 0)
                {
                    <div class="midArea"><img src="@team.Players.First(x => x.Id == team.MidId).Image" alt="mid" style="width:50px;height:50px;"></img></div>
                    <div class="topArea"><img src="@team.Players.First(x => x.Id == team.TopId).Image" alt="top" style="width:50px;height:50px;"></img></div>
                    <div class="adcArea"><img src="@team.Players.First(x => x.Id == team.ADCId).Image" alt="adc" style="width:50px;height:50px;"></img></div>
                    <div class="supArea"><img src="@team.Players.First(x => x.Id == team.SupportId).Image" alt="sup" style="width:50px;height:50px;"></img></div>
                    <div class="jgArea"><img src="@team.Players.First(x => x.Id == team.JungleId).Image" alt="jng" style="width:50px;height:50px;"></img></div>
                }
                else
                {
                    <div class="midArea"><img src="https://i0.wp.com/seds.org/wp-content/uploads/2020/03/placeholder.png?fit=1200%2C800&ssl=1" alt="mid" style="width:50px;height:50px;"></img></div>
                    <div class="topArea"><img src="https://i0.wp.com/seds.org/wp-content/uploads/2020/03/placeholder.png?fit=1200%2C800&ssl=1" alt="top" style="width:50px;height:50px;"></img></div>
                    <div class="adcArea"><img src="https://i0.wp.com/seds.org/wp-content/uploads/2020/03/placeholder.png?fit=1200%2C800&ssl=1" alt="adc" style="width:50px;height:50px;"></img></div>
                    <div class="supArea"><img src="https://i0.wp.com/seds.org/wp-content/uploads/2020/03/placeholder.png?fit=1200%2C800&ssl=1" alt="sup" style="width:50px;height:50px;"></img></div>
                    <div class="jgArea"><img src="https://i0.wp.com/seds.org/wp-content/uploads/2020/03/placeholder.png?fit=1200%2C800&ssl=1" alt="jng" style="width:50px;height:50px;"></img></div>
                }
            </div>
            <div class="matchesArea">
                @if (team.Matches.Count() is not 0)
                {
                    @foreach (Match match in team.Matches)
                    {
                        <form id="matchForm-@match.Id" asp-action="MatchDetails" asp-controller="Home" method="post">
                            @Html.Raw(Helpers.CreateMatchCard(match))
                            <input type="hidden" id="matchId-@match.Id" name="id" value="@match.Id" />
                        </form>
                    }
                }
                else
                {
                    <div class='matchCard' data-match-id='{match.Id}' ondblclick='submitMatchForm(this)'>
                        <div class='teamName'>placeholderMatch</div>
                        <div class='matchScore'>
                            <div>3 ----- 3</div>
                        </div>
                        <div class='teamName'>placeholderMatch</div>
                    </div>
                    <div class='matchCard' data-match-id='{match.Id}' ondblclick='submitMatchForm(this)'>
                        <div class='teamName'>placeholderMatch</div>
                        <div class='matchScore'>
                            <div>3 ----- 3</div>
                        </div>
                        <div class='teamName'>placeholderMatch</div>
                    </div>
                    <div class='matchCard' data-match-id='{match.Id}' ondblclick='submitMatchForm(this)'>
                        <div class='teamName'>placeholderMatch</div>
                        <div class='matchScore'>
                            <div>3 ----- 3</div>
                        </div>
                        <div class='teamName'>placeholderMatch</div>
                    </div>
                    <div class='matchCard' data-match-id='{match.Id}' ondblclick='submitMatchForm(this)'>
                        <div class='teamName'>placeholderMatch</div>
                        <div class='matchScore'>
                            <div>3 ----- 3</div>
                        </div>
                        <div class='teamName'>placeholderMatch</div>
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>
