@using Microsoft.AspNetCore.Identity
@using Backend.WebHelpers
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    if (SignInManager.IsSignedIn(User) is false)
    {
        var loginUrl = Url.Page("/Account/Login", new { area = "Identity" });
                <script>
                    window.location.href = '@loginUrl';
                </script>
    }
    @if (ViewBag.User is null || ViewBag.Team is null || ViewBag.ShopPlayers is null)
    {
        var errorUrl = Url.Action("Error", "Home");
                <script>
                    window.location.href = '@errorUrl';
                </script>
    }
    var user = ViewBag.User as User;
    var team = ViewBag.Team as Team;
    var shopPlayers = ViewBag.ShopPlayers as List<Player>;
    Player selectedPlayer = null;
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/dash.css"/>
    <link rel="stylesheet" href="~/css/playerCard.css"/>
    <link rel="stylesheet" href="~/css/matchCard.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.7/signalr.min.js"></script>
    <script type="text/javascript" src="~/js/dash.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Marcellus+SC" rel="stylesheet">
</head>
<body>
    <div class="containerDash">
        <div class="playerStoreArea">
            @if (shopPlayers is not null && shopPlayers.Count() is not 0)
            {
                @foreach (Player player in shopPlayers)
                {
                    <form asp-action="PlayerDetails" asp-controller="Home" method="post" id="playerForm-@player.Id">
                        <input type="hidden" name="id" value="@player.Id" />
                    </form>
                        <button onclick="selectPlayer(@player.Id)" ondblclick="getPlayerDetails(@player.Id);" style="border: none; margin: 0px; padding: 0px">@Html.Raw(Helpers.CreatePlayerCard(player, true))</button>
                }
            }
            else
            {
                <div class='playerCard' data-player-id='{player.Id}' ondblclick='submitPlayerForm(this)'>
                    <div class='playerImgCol'><img src="https://i0.wp.com/seds.org/wp-content/uploads/2020/03/placeholder.png?fit=1200%2C800&ssl=1" /></div>
                    <div class='playerStatCol'>
                        <div>placeholder, placeholder</div>
                        <div>placeholder</div>
                    </div>
                    <div class='playerImgCol'>100</div>
                </div>
                <div class='playerCard' data-player-id='{player.Id}' ondblclick='submitPlayerForm(this)'>
                    <div class='playerImgCol'><img src="https://i0.wp.com/seds.org/wp-content/uploads/2020/03/placeholder.png?fit=1200%2C800&ssl=1" /></div>
                    <div class='playerStatCol'>
                        <div>placeholder, placeholder</div>
                        <div>placeholder</div>
                    </div>
                    <div class='playerImgCol'>100</div>
                </div>
                <div class='playerCard' data-player-id='{player.Id}' ondblclick='submitPlayerForm(this)'>
                    <div class='playerImgCol'><img src="https://i0.wp.com/seds.org/wp-content/uploads/2020/03/placeholder.png?fit=1200%2C800&ssl=1" /></div>
                    <div class='playerStatCol'>
                        <div>placeholder, placeholder</div>
                        <div>placeholder</div>
                    </div>
                    <div class='playerImgCol'>100</div>
                </div>
                <div class='playerCard' data-player-id='{player.Id}' ondblclick='submitPlayerForm(this)'>
                    <div class='playerImgCol'><img src="https://i0.wp.com/seds.org/wp-content/uploads/2020/03/placeholder.png?fit=1200%2C800&ssl=1" /></div>
                    <div class='playerStatCol'>
                        <div>placeholder, placeholder</div>
                        <div>placeholder</div>
                    </div>
                    <div class='playerImgCol'>100</div>
                </div>
            }
        </div>
        <div class="ownPlayersArea">
            @if (user is not null && team is not null && team.Players is not null && team.Players.Count() is not 0)
            {
                @foreach (Player player in team.Players)
                {
                    <form asp-action="PlayerDetails" asp-controller="Home" method="post">
                        <input type="hidden" name="id" value="@player.Id" />
                    </form>
                    <button ondblclick="getPlayerDetails(@player.Id);" style="border: none; margin: 0px; padding: 0px">@Html.Raw(Helpers.CreatePlayerCard(player, false))</button>
                }
            }
            else
            {
                <div class='playerCard' data-player-id='{player.Id}' ondblclick='submitPlayerForm(this)'>
                    <div class='playerImgCol'><img src="https://i0.wp.com/seds.org/wp-content/uploads/2020/03/placeholder.png?fit=1200%2C800&ssl=1" /></div>
                    <div class='playerStatCol'>
                        <div>placeholder, placeholder</div>
                        <div>placeholder</div>
                    </div>
                    <div class='playerImgCol'>100</div>
                </div>
                <div class='playerCard' data-player-id='{player.Id}' ondblclick='submitPlayerForm(this)'>
                    <div class='playerImgCol'><img src="https://i0.wp.com/seds.org/wp-content/uploads/2020/03/placeholder.png?fit=1200%2C800&ssl=1" /></div>
                    <div class='playerStatCol'>
                        <div>placeholder, placeholder</div>
                        <div>placeholder</div>
                    </div>
                    <div class='playerImgCol'>100</div>
                </div>
                <div class='playerCard' data-player-id='{player.Id}' ondblclick='submitPlayerForm(this)'>
                    <div class='playerImgCol'><img src="https://i0.wp.com/seds.org/wp-content/uploads/2020/03/placeholder.png?fit=1200%2C800&ssl=1" /></div>
                    <div class='playerStatCol'>
                        <div>placeholder, placeholder</div>
                        <div>placeholder</div>
                    </div>
                    <div class='playerImgCol'>100</div>
                </div>
                <div class='playerCard' data-player-id='{player.Id}' ondblclick='submitPlayerForm(this)'>
                    <div class='playerImgCol'><img src="https://i0.wp.com/seds.org/wp-content/uploads/2020/03/placeholder.png?fit=1200%2C800&ssl=1"/></div>
                    <div class='playerStatCol'>
                        <div>placeholder, placeholder</div>
                        <div>placeholder</div>
                    </div>
                    <div class='playerImgCol'>100</div>
                </div>
            }
        </div>
        <div class="mainArea">
            <div class="mapArea">
                @if (team is not null && team.Players is not null && team.Players.Count() is not 0)
                {
                    <div class="midArea"><img src="@team.Players.First(x => x.Id == team.MidId).Image" alt="mid" style="width:50px;height:50px;"></img></div>
                    <div class="topArea"><img src="@team.Players.First(x => x.Id == team.TopId).Image" alt="top" style="width:50px;height:50px;"></img></div>
                    <div class="adcArea"><img src="@team.Players.First(x => x.Id == team.ADCId).Image" alt="adc" style="width:50px;height:50px;"></img></div>
                    <div class="supArea"><img src="@team.Players.First(x => x.Id == team.SupportId).Image" alt="sup" style="width:50px;height:50px;"></img></div>
                    <div class="jgArea"><img src="@team.Players.First(x => x.Id == team.JungleId).Image" alt="jng" style="width:50px;height:50px;"></img></div>
                }
                else
                {
                    <div class="midArea"><img src="https://i0.wp.com/seds.org/wp-content/uploads/2020/03/placeholder.png?fit=1200%2C800&ssl=1" alt="mid" style="width:50px;height:50px;"></img></div>
                    <div class="topArea"><img src="https://i0.wp.com/seds.org/wp-content/uploads/2020/03/placeholder.png?fit=1200%2C800&ssl=1" alt="top" style="width:50px;height:50px;"></img></div>
                    <div class="adcArea"><img src="https://i0.wp.com/seds.org/wp-content/uploads/2020/03/placeholder.png?fit=1200%2C800&ssl=1" alt="adc" style="width:50px;height:50px;"></img></div>
                    <div class="supArea"><img src="https://i0.wp.com/seds.org/wp-content/uploads/2020/03/placeholder.png?fit=1200%2C800&ssl=1" alt="sup" style="width:50px;height:50px;"></img></div>
                    <div class="jgArea"><img src="https://i0.wp.com/seds.org/wp-content/uploads/2020/03/placeholder.png?fit=1200%2C800&ssl=1" alt="jng" style="width:50px;height:50px;"></img></div>
                }
            </div>
            <div class="matchesArea">
                @if (team.Matches.Count() is not 0)
                {
                    @foreach (Match match in team.Matches)
                    {
                        <form asp-action="MatchDetails" asp-controller="Home" method="post">
                            <button style="border: none; margin: 0px; padding: 0px">@Html.Raw(Helpers.CreateMatchCard(match))</button>
                            <input type="hidden" name="id" value="@match.Id" />
                        </form>
                    }
                }
                else
                {
                    <div class='matchCard' data-match-id='{match.Id}' ondblclick='submitMatchForm(this)'>
                        <div class='teamName'>placeholderMatch</div>
                        <div class='matchScore'>
                            <div>3 ----- 3</div>
                        </div>
                        <div class='teamName'>placeholderMatch</div>
                    </div>
                    <div class='matchCard' data-match-id='{match.Id}' ondblclick='submitMatchForm(this)'>
                        <div class='teamName'>placeholderMatch</div>
                        <div class='matchScore'>
                            <div>3 ----- 3</div>
                        </div>
                        <div class='teamName'>placeholderMatch</div>
                    </div>
                    <div class='matchCard' data-match-id='{match.Id}' ondblclick='submitMatchForm(this)'>
                        <div class='teamName'>placeholderMatch</div>
                        <div class='matchScore'>
                            <div>3 ----- 3</div>
                        </div>
                        <div class='teamName'>placeholderMatch</div>
                    </div>
                    <div class='matchCard' data-match-id='{match.Id}' ondblclick='submitMatchForm(this)'>
                        <div class='teamName'>placeholderMatch</div>
                        <div class='matchScore'>
                            <div>3 ----- 3</div>
                        </div>
                        <div class='teamName'>placeholderMatch</div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div id="chatPopup" class="chat-popup">
        <div class="chat-header">
            <span class="chat-title">Chat</span>
            <button class="close-chat" onclick="closeChat()">×</button>
        </div>
        <div id="messagesList" class="chat-messages"></div>
        <form id="chatForm" class="chat-form">
            <input type="hidden" id="userInput" value="@user.UserName" disabled />
            <input type="text" id="destinationInput" placeholder="Whisper" required style="width: 20%;" />
            <input type="text" id="messageInput" placeholder="Message" required style="width: 60%;" />
            <button type="submit" style="width: 24px; height: 24px; padding: 0px; margin: 0px;"><img src="https://icon-library.com/images/send-message-icon/send-message-icon-25.jpg" style="width: 24px; height: 24px" alt="Send" /></button>
        </form>
    </div>
    <button id="chatButton" class="open-chat" onclick="openChat()">Chat</button>
    @{
        if (User.IsInRole("Admin"))
        {
            var url = Context.Request.PathBase + "/Admin";
                    <a href="@url" style="font-size: 36px;">Admin</a>
        }
    }
    <form id="buyForm" asp-action="Buy" asp-controller="Core" method="post" hidden>
        <input id="buyUserId" type="hidden" name="userId" value="@user.Id" />
        <input id="buyPlayerId" type="hidden" name="playerId" value="" />
        <button>Buy player</button>
    </form>

    <script>
        const shopPlayers = @Html.Raw(Json.Serialize(shopPlayers));
        const user = @Html.Raw(Json.Serialize(user));
        function getPlayerDetails(playerId) {
            const form = document.getElementById('playerForm-' + playerId);
            if (form) {
                console.log('playerForm-' + playerId);
                form.submit();
                console.log('submitting form playerForm-' + playerId);
            } else {
                console.error('Form not found: playerForm-' + playerId);
            }
        }

        function selectPlayer(playerId) {
            console.log('selectPlayer', playerId);
            const selectedPlayer = shopPlayers.find(player => player.Id === playerId);
            if (true) {
                document.getElementById('buyForm').hidden = false;
                document.getElementById('buyPlayerId').value = playerId;
                document.getElementById('buyUserId').value = "@user.Id";
            }
        }

        window.selectPlayer = selectPlayer;
        window.getPlayerDetails = getPlayerDetails;
    </script>
</body>
</html>