@model Tuple<IEnumerable<Backend.Models.Player>, User>

@{
    var ownPlayers = new List<Player>();
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <script src="~/js/playerShop.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTTP Grid</title>
</head>
<body class="body">
    <div class="row">
        <div class="column">
            <div class="header">
                <h2>Header</h2>
            </div>
            <div id="playerShopInitializer" class="player-container">
                @foreach (var player in Model.Item1)
                {
                    if (player.TeamId == Model.Item2.TeamId)
                    {
                        ownPlayers.Add(player);
                    }
                    <div class="button-body">
                        @* <label class="labl"> *@
                        <input type="radio" name="shopPlayer" value="@player" checked>
                        <div class="listbutton-main">
                            <div class="listbutton-column">
                                <div class="listbutton-icon">
                                    <img src="@player.Image" class="profile-image" />
                                </div>
                            </div>
                            <div class="listbutton-column-text">
                                <div class="listbutton-text">@player.Name</div>
                                <div class="listbutton-text">@player.Role</div>
                            </div>
                            <div class="listbutton-column">
                                <div class="listbutton-text">@player.Rating</div>
                            </div>
                        </div>
                        @* </label> *@
                    </div>
                }
            </div>
        </div>
        <div class="column">
            <div class="button-body">
                <button>
                    <div class="listbutton-main">
                        <div class="listbutton-colum">
                            <div class="listbutton-icon"></div>
                        </div>
                        <div class="listbutton-column">
                            <div class="listbutton-text">Title</div>
                            <div class="listbutton-text">Secondary Text</div>
                        </div>
                    </div>
                </button>
            </div>
            <div class="button-body">
                <button>
                    <div class="listbutton-main">
                        <div class="listbutton-colum">
                            <div class="listbutton-icon"></div>
                        </div>
                        <div class="listbutton-column">
                            <div class="listbutton-text">Title</div>
                            <div class="listbutton-text">Secondary Text</div>
                        </div>
                    </div>
                </button>
            </div>
        </div>
        <div class="column">
            <div class="header">
                <h2>Header</h2>
            </div>
            <div id="ownTeamInitializer" class="player-container">
                @foreach (var player in ownPlayers)
                {
                    <div class="button-body">
                        @* <label class="labl"> *@
                        <input type="radio" name="shopPlayer" value="@player" checked>
                        <div class="listbutton-main">
                            <div class="listbutton-column">
                                <div class="listbutton-icon">
                                    <img src="@player.Image" class="profile-image" />
                                </div>
                            </div>
                            <div class="listbutton-column-text">
                                <div class="listbutton-text">@player.Name</div>
                                <div class="listbutton-text">@player.Role</div>
                            </div>
                            <div class="listbutton-column">
                                <div class="listbutton-text">@player.Rating</div>
                            </div>
                        </div>
                        @* </label> *@
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>
